- [:first_name, :last_name, :address, :city, :zipcode, :country].each do |field|
  = sf.input field, placeholder: field.to_s.humanize
= sf.hidden_field :addressable_type, value: "#{type}"
= sf.hidden_field :addressable_id, value: "#{current_order.id}"
= sf.input :phone