= fields_for "#{type}" do |s|
  = s.fields_for :address do |a|
    = a.hidden_field :addressable_type, value: "#{type}"
    = a.hidden_field :addressable_id, value: "#{order.id}"
    = a.label :first_name
    = a.text_field :first_name, placeholder: "First name", id: "#{type}_first_name"
    = a.label :last_name
    = a.text_field :last_name, placeholder: "Last name", id: "#{type}_last_name"
    = a.label :address
    = a.text_field :address, placeholder: "Address", id: "#{type}_address"
    = a.label :zipcode
    = a.text_field :zipcode, placeholder: "Zipcode", id: "#{type}_zipcode"
    = a.label :country
    = a.text_field :country, placeholder: "Country", id: "#{type}_zountry"
    = a.label :city
    = a.text_field :city, placeholder: "City", id: "#{type}_city"
    = a.label :phone
    = a.text_field :phone, placeholder: "Phone", id: "#{type}_phone"